<?php
$brochuresCollection = $block->getCollection();
$mediaUrl = $this->_storeManager->getStore()->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_MEDIA ).'brochuresimages/tmp/brochures/';
?>
<style>
    .brochures ol {
        list-style: none;
        padding-left: 0;
    }
    .brochures ol li {
        margin-bottom: 60px;
    }
    .brochures ol li img {
        border: 1px solid #f1f1f1;
    }
    .brochures ol li .brochure-title {
        font-size: 16px;
        padding: 15px 0 2px 0;
    }
    .brochures ol li .brochure-links {
        color: #888;
        font-size: 14px;
    }
    .brochures ol li .brochure-links a {
        color: #888;
        font-size: 14px;
    }
    .brochures ol li .brochure-links a:hover {
        color: #000;
    }
</style>
<div class="brochures">
    <?php if ($brochuresCollection->getSize() > 0)  : ?>
    <ol class="row">
        <?php foreach ($brochuresCollection as $brochures) : ?>
        <?php if($brochures->getData('status') == 1) :?>
        <li class="tp-4-col col-xl-3 col-lg-4 col-md-4 col-sm-6 col-12">
            <div>
                <img src="<?php echo $mediaUrl . $brochures->getData('main-image'); ?>" alt="" width="100%">
            </div>
            <div class="brochure-title"><span><?php echo $brochures->getTitle() ?></span></div>
            <div class="brochure-links">
                <a class="_df_custom" source="/media/brochures/<?php echo $brochures->getData('link'); ?>" id="df_manual_custom" backgroundcolor="#f4f4f4" df-parsed="true" href="#">View</a> / 
                <a href="/media/brochures/<?php echo $brochures->getData('link'); ?>" download="" target="_blank">Download</a>
            </div>
        </li>
        <?php endif;?>
        <?php endforeach; ?>
    </ol>
    <?php endif; ?>
</div>