
<form action="<?php echo $block->getFormAction() ?>" class="form" id="custom-form" method="post" autocomplete="off">

    <div class="fieldset">
        <div class="field required">
            <label>Name</label>
            <div class="control">
                <input name="name" type="text" data-validate="{required:true}">
            </div>
        </div>
        <div class="field required">
            <label>Occupation</label>
            <div class="control">
                <input name="occupation" type="text" data-validate="{required:true}">
            </div>
        </div>
        <div class="field required">
            <label>Email</label>
            <div class="control">
                <input name="email" type="email" data-validate="{required:true, 'validate-email':true}">
            </div>
        </div>
        <div class="field">
            <label>Telephone</label>
            <div class="control">
                <input type="tel" id="phone" name="telephone" data-validate="{'validate-phoneStrict':true}">
            </div>
        </div>
        <div class="field required">
            <label>Address</label>
            <div class="control">
                <textarea id="address" name="address" data-validate="{required:true}"> </textarea>
            </div>
        </div>

        <?php foreach ($block->getBrochuresList() as $brochure) { ?>
            <input type="checkbox" id="brochure" name="brochure[]" value="<?php echo $brochure->getTitle() ?>"> <?php echo $brochure->getTitle() ?><br>
        <?php }
        ?>
        <input type="submit" value="Send Message">
    </div>
</form>

<script type="text/x-magento-init">
    {
    "#custom-form": {
    "validation": {}
    }
    }
</script>