<!--@subject Brochure Request  @-->
<!--@vars {
"var this.getUrl($store, 'admin')":"Warehouse Account URL",
"var customer.email":"Customer Email",
"var customer.name":"Customer Name"
} @-->
<style>
    table {
        table-layout: fixed ;
        width: 100%  !important;
    }
    td {
        width: 25% ;
    }
    td, th {
        text-align: left;
        padding: 8px;
    }
</style>
{{template config_path="design/email/header_template"}} 

<table>

    <tr class="email-summary">
        <th> Name </th>
        <th> Occupation </th>
        <th> Email </th>
        <th> Telephone </th>
        <th> Address </th>
        <th> Brochure </th>
    </tr>
    <tr class="email-information">
        <td>
            {{trans '%name' name=$name |raw }}
        </td>
        <td>
            {{trans '%occupation' occupation=$occupation |raw }}
        </td>
        <td>
            {{trans '%email' email=$email |raw }}
        </td>
        <td>
            {{trans '%telephone' telephone=$telephone |raw }}
        </td>
        <td>
            {{trans '%address' address=$address |raw }}
        </td>
        <td>
            {{layout handle="email_product_list" items=$brochures area="frontend"}}
        </td>

    </tr>
</table>

{{template config_path="design/email/footer_template"}} 